.play-movie {
	cursor: pointer;
}

.play-movie p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

div#player {
	position: relative;
	width: 960px;
	height: 540px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.remodal {
	max-width: 960px!important;
	height: 540px!important;
	padding: 0!important;
	margin-bottom: 0!important;
}

.remodal-close {
	right: 0!important;
	z-index: 99999;
}

.remodal-overlay {
	background: rgba(32, 32, 22, 0.28)!important;
}